<section id="outer">

    <h2>My Projects</h2>
    <section>
        <div class="card" data-aos="fade-up" *ngFor="let project of projects">
            <shared-project-card [project]="project"></shared-project-card>
        </div>
    </section>
    <p id="moreProjectsLink" >
        View all projects on <a href="https://gitlab.com/bauerjakob">GitLab</a>.
    </p>
    <section id="smallCards">
        <div *ngFor="let project of gitlabProjects; let i = index">
            <div *ngIf="i % 2 == 0" data-aos="fade-up" data-aos-delay="0">
                <shared-project-card-small [project]="project"></shared-project-card-small>
            </div>
            <div *ngIf="i % 2 == 1" data-aos="fade-up" data-aos-delay="150">
                <shared-project-card-small [project]="project"></shared-project-card-small>
            </div>
        </div>
    </section>
</section>