<section>
    <h2>Wow, a whole page just about me!</h2>
    <p>
        Hi! My name is Jakob Bauer. As a trainee at <a href="https://www.formware.de/">Formware GmbH</a>, I can develop software. I also enjoy learning new technologies. Thats what I like.
        <br>
        <br>
        Happy coding! 😃
    </p>
</section>