---
import AuthorCard from "../components/AuthorCard.astro";
import Footer from "../components/Footer.astro";
import ProgramScreen from "../components/ProgramScreen.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <Fragment slot="main">
        <section id="first">
            <div></div>
            <div>
                <h1>Hello world</h1>
                <article><p>This is my personal website.</p></article>
                <div id="authorCard">
                    <ProgramScreen />
                </div>
            </div>
            <Footer />
        </section>
    </Fragment>
</BaseLayout>

<style>
    section {
        padding: 1rem 1rem;
        min-height: 100vh;
        min-height: -webkit-fill-available; /* mobile viewport bug fix */
        display: flex;
        flex-direction: column;
        scroll-snap-align: start;
    }

    #first {
        justify-content: space-between;
    }

    #second {
        background-color: rgba(0, 0, 0, 0.1);
    }

    #authorCard {
        margin-top: 2rem;
    }
</style>
