---
const year = new Date().getFullYear();
---

<footer>
    <p>
        <span>&#xa9; {year} Jakob Bauer &#xa9;</span>
    </p>
</footer>

<style lang="scss">
    p {
        padding-top: 1rem;
        user-select: none;
    }
</style>
