---
const year = new Date().getFullYear();
---

<footer>
    <p>
        <span> &#xa9; {year} Jakob Bauer</span>
    </p>
</footer>

<style lang="scss">
    .footer {
        margin: 0 auto;
    }
</style>
